{% extends 'portfolio/layout.html' %}

{% block head %}
{% load static %}
<link rel="stylesheet" href="{% static 'portfolio/css/about.css' %}">
{% endblock head %}

{% block main %}
<div class="title">
    <h1>Bachelor</h1>
    <h2>Video and Computer Games Development</h2>
</div>

<br>

<div class="subjects">
    {% for s in subjects %}
    <div class="subject">
        <h4>Year {{s.year}} | Semester {{s.semester}} | ECTS {{s.ects}}</h4>
        <h2>{{s.name}}</h2>
        <p>{{s.description}}</p>
    </div>
    {% endfor %}
</div>
{% endblock main %}