{% extends 'portfolio/layout.html' %} {% block head %} {% load static %}
<link rel="stylesheet" href="{% static 'portfolio/css/contact.css' %}" />

<style>
  .contact.email {
    background-image: url("{% static 'portfolio/images/email.png' %}");
  }
</style>
{% endblock head %} {% block main %}

<div class="title">
  <h1>Contact</h1>
</div>

<div class="contacts">
  {% for c in contacts %}

  <a href="{{c.link}}" target="_blank">
    <div class="contact" style="background-image:url({{c.image.url}}) ;">
      <h2>{{c.name}}</h2>
    </div>
  </a>

  {% endfor %}

  <a href="mailto:joao.matos1221@gmail.com">
    <div class="contact email">
      <h2>Email</h2>
    </div>
  </a>
</div>

{% endblock %}
