.contacts {
  display: flex;
  align-content: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 32px;
  margin-right: 10%;
  margin-left: 10%;
}

.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 100px;
  padding: 16px;
  background-color: white;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 16px;
  box-shadow: 0px 0px 5px gray;
  transition: box-shadow 0.25s;
}

.contact:hover {
  box-shadow: 0px 0px 15px gray;
}

.contact h2 {
  background-color: white;
  color: gray;
  padding: 4px;
  border-radius: 16px;
}
.contacts a {
  text-decoration: none;
}
