.projects {
  display: flex;
  align-content: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 32px;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 32px;
}

.project,
.tfc {
  position: relative;
  display: flex;
  flex-flow: column;
  padding: 16px;
  width: 400px;
  min-height: 400px;
  background: white;
  border-radius: 16px;
  box-shadow: 0px 0px 15px gray;
  text-align: center;
  overflow: hidden;
}

.project *:not(div.project-background),
.tfc *:not(div) {
  z-index: 1;
}

.project-background {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background-size: cover;
  background-position: center;
  transition: opacity 0.25s;
}

.project-background:hover {
  opacity: 1;
  z-index: 2;
}

.projects a {
  color: black;
  text-decoration: none;
}

.project h2,
.project p,
.tfc h2,
.tfc h3,
.tfc h4 {
  margin-bottom: 16px;
}

.project h4 {
  color: black;
  margin-top: auto;
}

.project h2,
.project p,
.project h4,
.tfc h2,
.tfc h3,
.tfc h4,
.tfc p {
  pointer-events: none;
}

.tfc p:last-of-type {
  text-shadow: 0px 0px 10px lightgray;
  margin-bottom: 16px;
}

.tfc p:last-of-type::after {
  content: "...";
}

.tfc a {
  width: 100px;
  height: 30px;
}

.buttons {
  position: relative;
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  z-index: 3;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  width: inherit;
  height: inherit;
  border-radius: 16px;
  box-shadow: 0px 0px 5px gray;
}
.form {
  display: flex;
  justify-content: center;
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
}

.form form label {
  display: inline-block;
  width: 13ch;
}

.form form input,
.form form textarea {
  width: 50ch;
  margin-bottom: 8px;
  padding: 8px;
  border: none;
  border-radius: 16px;
  box-shadow: 0px 0px 5px gray;
}

.form * {
  vertical-align: top;
}

.form button {
  margin-left: 53ch;
  width: 13ch;
  height: 4ch;
  border: none;
  box-shadow: 0px 0px 5px gray;
  border-radius: 16px;
  text-align: center;
  cursor: pointer;
}
