@font-face {
  font-family: roboto-mono;
  src: url("../fonts/RobotoMono-Regular.ttf");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: roboto-mono, sans-serif;
  word-wrap: break-word;
}

body {
  display: flex;
  flex-direction: column;
}

header {
  height: 10vh;
  background: gray;
  top: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

header div {
  font-size: 2em;
  padding: 1em;
}

header div a {
  color: lightgray;
  text-decoration: none;
}

header nav {
  display: flex;
  justify-content: flex-end;
  margin-right: 1em;
  gap: 4px;
}

nav a {
  padding: 0.2em 1em;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
  color: gray;
  background: lightgray;
  border-radius: 16px;
}

main {
  min-height: 85vh;
  background-color: lightgrey;
  padding: 4em 4em;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
  padding: 0 2vw;
  background: grey;
  font-weight: bold;
}

footer a {
  text-decoration: underline;
  color: black;
}

li {
  list-style: none;
  padding: 4px 16px;
}

ul:first-child > li {
  padding: 0px;
}

.title {
  text-align: center;
}

.title:first-of-type {
  margin-bottom: 32px;
}

.title:not(:first-of-type) {
  margin: 64px 0px 32px 0px;
}
