.technologies,
.used-technologies,
.used-patterns,
.laboratories,
#meteorology,
#github-repos {
  display: flex;
  align-content: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: 10%;
  margin-right: 10%;
  gap: 32px;
}

p {
  color: gray;
}

.news {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: 10%;
  margin-right: 10%;
  gap: 16px;
}

.technology,
.laboratory,
.used-technology,
.pattern,
.new,
.github-repo {
  padding: 16px;
  width: 300px;
  height: 100%;
  background: white;
  border-radius: 16px;
  box-shadow: 0px 0px 5px gray;
  transition: box-shadow 0.25s;
}

.technology:hover,
.laboratory:hover,
.new:hover,
.github-repo:hover {
  box-shadow: 0px 0px 15px gray;
}

.technology h4,
.laboratory h4,
.new h4 {
  color: black;
  margin-bottom: 16px;
}

.technologies a,
.laboratories a,
.news a,
#github-repos a {
  text-decoration: none;
}

.used-technology,
.pattern {
  text-align: center;
}

.pattern,
.used-technology,
#github-repos a {
  color: black;
}

.new {
  width: 100%;
  text-align: center;
}

.new p {
  margin-bottom: 16px;
}

.new img {
  width: inherit;
  max-height: 512px;
  border-radius: 16px;
  object-fit: cover;
  object-position: center;
}

.diagram {
  display: flex;
  justify-content: center;
  width: 80%;
  height: auto;
  margin-left: 10%;
  margin-right: 10%;
}

.diagram img {
  width: inherit;
  height: inherit;
  object-fit: contain;
}

.meteorology-day,
.github-repo {
  width: 300px;
  background: white;
  border-radius: 16px;
  box-shadow: 0px 0px 5px gray;
  padding: 16px;
}

.meteorology-day:first-child {
  box-shadow: 0px 0px 15px cornflowerblue;
  margin-left: calc(50% - 150px);
  margin-right: calc(50% - 150px);
}

.meteorology-day h2,
.github-repo h2 {
  margin-bottom: 16px;
  text-align: center;
}

.github-repo {
  display: flex;
  flex-direction: column;
  width: 400px;
  min-height: 100px;
}

.github-repo h2 {
  margin-bottom: 8px;
}

.github-repo p:last-of-type {
  margin-top: 16px;
  color: black;
}
.github-repo h4 {
  padding-top: 16px;
  margin-top: auto;
}
